<p id="notice"><%= notice %></p>

<%= grid(@warehouse_units) do |g|

  g.column name: 'ID', attribute: 'id' do |task|
    task.id
  end

  g.column name: 'SKU', attribute: 'sku' do |task|
    task.sku
  end

  g.column name: 'Count', attribute: 'count' do |task|
    task.count
  end

  g.column name: 'Status', attribute: 'status' do |task|
    task.status
  end


end -%>


