// Place all the styles related to the warehouse_units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#inner {
  width: 60%;
  margin: 0 auto;
}

#info_1 {
  text-align: center;
  background-color: lightpink;
  border-radius: 25px;
}

#info_2 {
  background-color: lightcyan;
  border-radius: 25px;
  text-align: center;
}

#info_3 {
  background-color: lightyellow;
  border-radius: 25px;
  text-align: center;
}

#info_4 {
  background-color: #f4d9ff;
  border-radius: 25px;
}

.pie-chart{
  display: none;
}
.pie-chart-1{
  display: none;
  width: 200px;
  float: left;
}